.ProfileDetails{
  text-align: left !important;
  /* display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  align-content: flex-start !important;
  
} */
}
.detail{
  border-radius: 50%;
}