.top-navbar{
  display: flex;

  padding: 16px;
  background-color: beige;
  gap: 4rem;
}
.admin-list{
  list-style-type: none !important;
  font-size: 1.3rem;
  padding: 0.5rem;
  font-weight: 800;
  color: black !important;
}
.admin-list:hover{
  background-color: rgb(240, 194, 169);
  color:rgb(240, 194, 169);
}
.below-content {
  display: flex;

  width: 100%;

}
.content {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  justify-content: center;
}

/*    events={[{ title: "event 1", date: "2023-08-01" }]} */